@import './src/scss/variables.scss';
.about {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: white;
  background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/cW5lDBG/videoblocks-abstract-programming-code-background-software-development-concept_bdh5fisnx_thumbnail-full01.png')
    no-repeat center fixed;
  background-size: cover;
}
