@import './src/scss/variables.scss';
@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);
$min-break-point: 317px;
$project-card-height: 800px;
.portafolio {
  overflow-y: hidden;
  overflow: hidden;
  padding: 50px 0;
  min-width: 205px;
  grid-template-columns: repeat(auto-fill, minmax($min-break-point, 90%));
  display: grid;
  width: 100%;
  height: auto;
  color: $black;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}
.project-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: opacity 0.5s;
  a {
    display: inline-block;
    min-width: 4rem;
    font-size: 1.2rem;
    width: auto;
    margin: 0.5rem;
    padding: 0.5rem;
    color: $black;
    border: 2px solid $black;
    border-radius: 10px;
    text-align: center;
    outline-width: 10px;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    & > span {
      font-size: 1.5rem;
      padding: 0.4rem;
    }
    &:hover {
      color: white;
      background-color: $black;
      transition: color 0.1s ease-in;
      .fa-play {
        color: red;
      }
    }
    &:active {
      transform: scale(0.94);
    }
  }
}
.project-card {
  display: grid;
  grid-template-columns: minmax($min-break-point, 60%) minmax(
      $min-break-point,
      40%
    );
  grid-gap: 1px;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: $project-card-height;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  .project-photo {
    height: 100%;
    width: 100%;
    transition: background-image 2s ease-out;
    img {
      max-height: $project-card-height;
      height: 100%;
      width: 100%;
    }
  }
  .project-info {
    background: linear-gradient(
        to bottom,
        #d5dee7 0%,
        #e8ebf2 50%,
        #e2e7ed 100%
      ),
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.02) 50%,
        rgba(255, 255, 255, 0.02) 61%,
        rgba(0, 0, 0, 0.02) 73%
      ),
      linear-gradient(
        33deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      );
    background-blend-mode: normal, color-burn;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    max-height: $project-card-height;
    .info-header {
      padding-bottom: 10px;
      //   height: 100%;
      h1 {
        font-size: 2rem;
      }
      h5 {
        padding: 0.5rem;
      }
      .project-description {
        text-align: justify;
      }
      p {
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}
em {
  font-family: 'EB Garamond', serif;
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style: normal;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);

  &::before,
  &::after {
    content: '';
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0.2;
    margin: 0 0.6em;
    font-size: 0.5em;
  }
}

@media (max-width: 600px) {
  .project-card {
    max-height: $project-card-height;
    grid-template: minmax($min-break-point, 20%) minmax($min-break-point, 80%) / 1fr;
  }
}
