.portafolio {
  height: 30vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://previews.123rf.com/images/_ig0rzh_/_ig0rzh_1210/_ig0rzh_121000019/15829874-abstract-background-tecnol%C3%B3gico-brillantes-cuadrados-azules.jpg')
    no-repeat fixed center;
}
