@import './src/scss/variables.scss';
.header {
  background-color: $black;
  position: fixed;
  width: 100%;
  height: 3rem;
}
.contenido {
  padding-top: 70px;
}
.linked-icon {
  min-width: auto !important;
  margin-left: 10px;

  & > i {
    font-size: 1.7rem;
    position: relative;
    color: white;
    &:hover {
      color: $link-blue;
      transition: color 0.1s ease-in;
      background-size: cover;
      &:after {
        position: absolute;
        content: '';
        background: #fff;
        z-index: -1;
        border-radius: 50%;
        top: 4px;
        left: 0px;
        width: 100%;
        height: 80%;
      }
    }
  }
}
.nav-links {
  display: flex;
  width: inherit;
  height: 100%;
  align-items: center;
  justify-content: center;
  ul {
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: space-around;
    width: 60%;
    list-style-type: none;
  }

  a {
    color: white;
    font-size: inherit;
    font-weight: 700;
    display: inline-block;
    height: 100%;
    min-width: 100px;
    text-decoration: none;
    transition: color 0.2s, transform 2s;

    &:hover {
      color: $gray;
    }
  }
}

.burger-icon {
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 50px;
  padding: 10px;
  height: 3rem;
}
.burger-icon > div {
  transition: transform 1s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
  top: 0;
  background-color: white;
  height: 3px;
  &:before {
    content: '';
    transition: transform 1s;
    position: absolute;
    width: 100%;
    top: 10px;
    background-color: inherit;
    height: 3px;
  }
  &:after {
    content: '';
    position: absolute;
    transition: transform 1s;
    width: 100%;
    top: -10px;
    background-color: inherit;
    height: 3px;
  }
}
.active-link {
  position: relative;
  color: rgb(65, 123, 230) !important;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0.5rem;
    width: 100%;
    height: 20px;
    border-bottom: 2px solid $link-blue;
  }
}
.burger-active {
  height: 100vh;
  transition: height 0.5s;
  .active-link::after {
    display: none;
  }
  .linked-icon {
    padding: 10px;
  }
  .nav-links {
    display: flex;
    font-size: 1rem;
  }
  ul {
    display: grid;
    align-content: center;
    grid-template-rows: repeat(4, minmax(20px, 40px));
  }
  .burger-icon {
    div {
      transform: rotate(-45deg);
      &:before {
        top: 0px;
        transform: rotate(90deg);
      }
      &:after {
        top: 0px;
        transform: rotate(90deg);
      }
    }
  }
}

.burger-inactive {
  opacity: 1;
  transition: height 0.5s;
}
@media (max-width: 600px) {
  .nav-links {
    display: none;
  }

  .burger-icon {
    display: flex;
  }
}
@media (min-width: 600px) {
  .header {
    height: 3rem;
    ul {
      display: flex;
    }
  }
}
