:root {
  --mainColor: #ff9800;
}
.header {
  display: grid;
  position: fixed;
  width: 100vw;
  height: 10vh;
}
.nav-links {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-column-gap: 20px;
  padding: 0px 10px;
  align-content: center;
}
.header a {
  color: black;
  text-decoration: none;
}

@media (max-width: 600px) {
  .nav-links {
    grid-template: repeat(4, minmax(40px, 1fr)) / 1fr;
    align-items: center;
  }
}
