* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
}
.contenido {
  width: 100%;
}
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.App-link {
  color: #61dafb;
}
.testeo:nth-child(odd) {
  background-color: black;
  height: 20vh;
}
.testeo:nth-child(even) {
  background-color: red;
  height: 20vh;
}
