* {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* html {
  overflow-y: scroll;
} */
body {
  /* background-color: #4d4d4d; */
  min-height: 110vh;
}
.content {
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.test-div {
  align-content: center;
  justify-content: center;
  padding-top: 100px;
  background: blue;
}
.test-div a {
  color: black;
}
